{% extends 'myapp/index.html' %}

{% block content %}     
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Course <small class="text-muted">Welcome to CareerNest</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> CareerNest</a></li>
                            <li class="breadcrumb-item">Course</li>
                            <li class="breadcrumb-item active">All Course</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>All</strong>Courses</h2>

            </div>
            <div class="body">
                <div class="clearfix row">
                    {% for i in call %}
                       
                        <div class="col-sm-4 col-md-3 col-lg-3">
                            <div class="body m-b-10 l-green">
                                <div class="color-name d-dlex justify-content-between align-items-center">
                                    <span>{{i.name}}</span>
                                    <br>
                                    <a href="{% url 'edit-course' pk=i.id %}" type="submit" class="btn btn-primary btn-round">Edit</a>
                                    <a href="{% url 'del-course' pk=i.id %}" type="submit" class="btn btn-default btn-round">Delete</a>                                    
                                </div>
                            </div>
                        </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
   
</div>
            </div>
</section>

{% endblock %}